<h2>Modify presentations data here</h2>
<button class="btn btn-success" 
        uib-tooltip="bootstrap ui"
        ng-click="$ctrl.onSaveChanges()">Save</button>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th ng-click="$ctrl.onSortBy('title')">Attributes</th>
            <th ng-click="$ctrl.onSortBy('value')">Initial Consideration Set</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.slideData">
            <td>{{$index + 1}}</td>
            <td>{{item.mdata}}</td>
            <td class="flex" >
                <span>
                    {{item.value | roundTo}}
                </span>
                <div class="progress progress-width">
                    <div class="progress-bar" 
                         role="progressbar"
                         aria-valuenow="{{item.value}}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: {{item.value}}%;">
                        <span class="sr-only">{{item.value}}%</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
