<footer id="foot">
    <div class='foot-inner-container'>
        <div class="foot-inner-info">
            <ul class="footer-links">
                <li><a href="">Contact</a></li>
                <li><a href="">Cyberpunk Forum</a></li>
                <li><a href="">Cd Project Red</a></li>
                <li><a href="">Job Oportunities</a></li>
                <li><a href="">Terms of Use & Privacy Policy</a></li>
            </ul>
        </div>
        <div class="foot-inner-social">
            <h2>Find Us</h2>
            <div class="social-container">
                <div class="social-icon cy"><a href=""><img src="https://www.cyberpunk.net/build/images/home/icon-social-forums-2cb0a086.svg" alt="cyberpunk forum icon"></a></div>
                <div class="social-icon fa"><a href=""><img src="https://www.cyberpunk.net/build/images/home/icon-facebook-bd939719.svg" alt="facebook icon"></a></div>
                <div class="social-icon tw"><a href=""><img src="https://www.cyberpunk.net/build/images/home/icon-twitter-defe5f7b.svg" alt="twitter icon"></a></div>
                <div class="social-icon yt"><a href=""><img src="https://www.cyberpunk.net/build/images/home/icon-youtube-fe03dcbc.svg" alt="youtube icon"></a></div>
            </div>
        </div>
        <div class="foot-inner-logo">
            <div class="footer-logo-container"><a><img src="https://www.cyberpunk.net/build/images/CDProjektRed-Black-de028e26.svg" alt=""></a></div>
        </div>
    </div>
    <div class="footer-bottom-container">
        <img src="https://66.media.tumblr.com/37ce0fe6cce65d223f5d1ec331903c53/aa0acc77898d1341-c3/s400x600/690474751c124bbe2a14783b7271b15315b37360.png" alt="white cyberpunk logo" class="foot-bottom-logo">
    </div> 
</footer>
