<h1>Charts</h1>
<button class="cybr-btn">
  Download PPT<span aria-hidden>_</span>
  <span aria-hidden class="cybr-btn__glitch">Download PPT_</span>
  <span aria-hidden class="cybr-btn__tag">R25</span>
</button>
<div class="charts_wrp">
  <div>
    <div id="columnChart"></div>
    <button ng-click="$ctrl.onAddColumnChart()"
            class="btn btn-dark">
            Add to presentation
    </button>
  </div>
  <div>
    <div id="pieChart"></div>
    <button ng-click="$ctrl.onAddPieChart()"
            class="btn btn-dark">
            Add to presentation
    </button>
  </div>
  <div>
    <div id="lineChart"></div>
    <button ng-click="$ctrl.onAddLineChart()"
            class="btn btn-dark">
            Add to presentation
    </button>
  </div>
  <div>
    <div id="scatterPlotChart"></div>
    <button ng-click="$ctrl.onAddScatterPlotChart()"
            class="btn btn-dark">
            Add to presentation
    </button>
  </div>
</div>
<snackbar message="$ctrl.message"></snackbar>
