<h1>Charts</h1>
<button class="cybr-btn">
  Download PPT<span aria-hidden>_</span>
  <span aria-hidden class="cybr-btn__glitch">Download PPT_</span>
  <span aria-hidden class="cybr-btn__tag">R25</span>
</button>
<div class="charts_wrp">
  <div>
    <div id="columnChart"></div>
    <button type="button" 
            class="primary-btn"
            ng-click="$ctrl.onAddColumnChart()">
        <div class="primary-btn__label">Add to presentation</div>
        <div class="primary-btn__icon"></div>
    </button>
  </div>
  <div>
    <div id="pieChart"></div>
    <button type="button" 
            class="primary-btn"
            ng-click="$ctrl.onAddPieChart()">
        <div class="primary-btn__label">Add to presentation</div>
        <div class="primary-btn__icon"></div>
    </button>
  </div>
  <div>
    <div id="lineChart"></div>
    <button type="button" 
            class="primary-btn"
            ng-click="$ctrl.onAddLineChart()">
        <div class="primary-btn__label">Add to presentation</div>
        <div class="primary-btn__icon"></div>
    </button>
  </div>
  <div>
    <div id="scatterPlotChart"></div>
    <button type="button" 
            class="primary-btn"
            ng-click="$ctrl.onAddScatterPlotChart()">
        <div class="primary-btn__label">Add to presentation</div>
        <div class="primary-btn__icon"></div>
    </button>
  </div>
</div>
<snackbar message="$ctrl.message"></snackbar>
