@import "node_modules/bootstrap/scss/bootstrap";
@import "../assets/typography/main";
@import "../assets/typography/animation";
@import "../assets/typography/button";
@import "../assets/typography/modal";

html,
body, 
input {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 500;
  height: 100%;
}

body { 
  padding-top: 50px;
  background: $--primary-dark-color;
  color: $--secondary-color;
}
